form {
    input[type="radio"]{
        margin-right: 0.5rem;
        &[disabled] 
        {
            cursor: not-allowed;
            border-color: $accent-100;
            background-color: $accent-100;
        }
        &[disabled] + label {
            cursor: not-allowed;
        }
    }
    input[type="radio"] + label {
        color: $p-white;
    }
    label {
        color: $accent-100;
        font-weight: 800;
    }
}