
.container {
    border: 1px solid blue;
    background-color: palegoldenrod;
}
.row {
    border: 1px solid red;
    background-color: paleturquoise;

}
.col {
    border: 1px solid green;
    background-color: pink;
}
.hidden {
    display: none;
}
