.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 1rem;
    .header-child {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 20%;
        &:last-child {
            justify-content: flex-end;
        }
        button {
            img {
               width: 20px;  
            }
        }
    }
}