
@mixin element-gradient($t-1, $t-2, $text, $font) {
    /* fallback for old browsers */
    background: $p-black ;
    background: linear-gradient(270deg, $t-1 0%, $t-2 100%);
    background: -webkit-linear-gradient(270deg, $t-1 0%, $t-2 100%);
    border: none;
    -webkit-appearance: none;
    appearance: none; 
    font-family: $font;
    color: $text;
    font-size: 0.875rem;
    &::placeholder {
        font-family: $font;
        color: $text;
    }
    &:not(select) {
        padding: 0.5rem 1.5rem;
    }
}

